<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h5><%= current_user ? current_user.user_name : "" %></h5>
    <% if current_user %>
        <%= button_to 'Logout!', session_url, method: :delete %>
      <% else %>
        <%= button_to 'Login!', new_session_url, method: :get %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
